<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista en Tiempo Real</title>
</head>
<body>
  <h1>Lista de Productos (Tiempo Real)</h1>
  <ul id="products-list">
    {{#each products}}
      <li>{{this.name}} - Precio: {{this.price}}</li>
    {{/each}}
  </ul>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('productListUpdate', (products) => {
      const productListElement = document.getElementById('products-list');
      productListElement.innerHTML = '';

      products.forEach(product => {
        const li = document.createElement('li');
        li.innerText = `${product.name} - Precio: ${product.price}`;
        productListElement.appendChild(li);
      });
    });
  </script>
</body>
</html>
